<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
        <!-- <link rel="stylesheet" href="/css/style.css"> -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <script defer src="../main.js"></script></head>
    <body>    
        <div class="position-absolute top-50 start-50 translate-middle shadow p-3 mb-5 rounded m-board">
            <form id="idform" class="inform position-absolute  start-50 translate-middle d-flex flex-column mb-3"  action="/" method="post" >
                <input type="username" name="username" id="username" class="text" placeholder="username" required>
               <input type="password" name="password" class="text" id="passShow" placeholder="password" maxlength="15" required>
               <i class="bi-eye-fill eye-one"></i>
               <nav class=" flex-r flex-row ">
                    <a id="link" class="btn btn-outline-primary" type="submit" >Sign up</a>
                    <input  data-send class="btn btn-outline-success"  type="submit" value="Log in">
               </nav>
            </form>
            <p class="stick"></p>
            <!-- <div class="div-span">
                <span>password is false</span>
            </div> -->
            <nav class="nav-input ">
                <span id="div-span"><%=span %></span>
                <button id="event" class="btn-G shadow p-3 mb-5 rounded"> <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png" width="25" class="board"> Continue with Google</button>
            </nav>
            
        </div>
    </body>
    <!-- <script  src="./jqu/script.js"></script> -->
    <!-- <script type="module" src="./src/withGoogle.js"></script> -->
</html>